body {
	background-color: HoneyDew ;
}
.comment {
	background-color: ivory;
	padding: 10px;
	margin: 5px;
	width: 500px;
	border: 1px solid;
	border-radius: 8px;
}
textarea {
  width: 300px;
  height: 150px;
}
#submit_button {
	width: 200px;
	height: 75px;
  background-color: red;
}
