body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    background-image: url("background/header.jpg");
    //background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.logInOut {
    //float: right;
    position: relative;
    top: 100px;
    margin-left: 50px;
}
.pgHeader {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("background/header.jpg");
    height: 10em;
    border-bottom: 2px solid black;
}
.pgBody {
    //position: relative;
    //top: 150px;
    background-color: white;
    margin-top: 0em;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    border: 2px solid black;
    padding-left: 10px;
}
.registerForm {
    width: 200px;
    height: 200px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.comments {
    clear: both;
}
.comment {
    padding: 10px;
    background-color: ivory;
    margin: 5px;
    width: 630px;
    border: 1px solid;
    border-radius: 8px;
}
.comment pre {
    width: 630px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.dTime {
    color: LightSlateGrey;
    font-size: 70%;
}
textarea {
    height: 150px;
}
#submit_button {
    width: 200px;
    height: 75px;
    background-color: #4CAF50;
}
#prBtn, #ntBtn{
    height: 35px;
    width: 100px;
}
#pageButtons, .prvnxtButtons {
    float: left;
    height: 35px;
    margin: 2px;
}
.prvnxtButtons, #previousButton, #nextButton {
    width: 120px;
    height: 35px;
    float: left;
}
.numberButton {
    width: 40px;
    height: 35px;
    float: left;
}
.pages {
    margin: 5px;
    overflow: hidden;
    //position: relative;
    //left: 300px;
}
#lout{
    float: right;
}
#lin{
    float: right;
}
ul {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
    //background-color: cornsilk;
}
.loginForm {
    width: 200px;
    height: 200px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
li {
    float: left;
}

li a {

    font-family: "Comic Sans MS", cursive, sans-serif;
    border: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    background-color: beige;
    margin: 2px;
}
li a:hover {
    background-color: sandybrown;
}
.bigPic {
    border: solid black 2px;
    width: 500px;
    height:500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    opacity: 0;
}
#bigPicInside {
    width: 100%;
    height: 100%;
}
.smallPic {
    margin: 10px;
    padding: 10px;
    float: left;
}
input[type=text], input[type=password], textarea {
    width: 300px;
    display: block;
    padding: 2px;
    border: 1px solid black;
    background-color: beige;
    border-radius: 4px;
    margin: 2px;
}
.input {
    //position: fixed;
    //right: 60px;
    //top: 200px;
}
input[type=button], input[type=submit], button {
    background-color: #4CAF50;
    border: none;
    //color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.sisestus {
    background-color: #4CAF50;
    border: none;
    //color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    width: 270px;
}
.user_data_div {
    height: 100%;
}
.user_data_list {
    clear: both;
}
ol {
    clear: both;
    list-style-position: inside;
}