body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    background-image: url("background/header.jpg");
}
.logInOut {
    position: relative;
    left: 50px;
}
.pgHeader {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("background/header.jpg");
    height: 10em;
    border-bottom: 2px solid black;
}
.pgBody {
    //position: relative;
    //top: 150px;
    background-color: white;
    margin-top: 0em;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    border: 2px solid black;
    padding-left: 10px;
}
.registerForm {
    width: 200px;
    height: 200px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.comments {
    clear: both;
}
.comment {
    padding: 10px;
    background-color: ivory;
    margin: 5px;
    width: 500px;
    border: 1px solid;
    border-radius: 8px;
}
.comment pre {
    width: 450px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.dTime {
    color: LightSlateGrey;
    font-size: 70%;
}
textarea {
    width: 300px;
    height: 150px;
    display: block;
}
#submit_button {
    width: 200px;
    height: 75px;
    background-color: red;
}
#prBtn, #ntBtn{
    height: 25px;
    width: 100px;
    float: left;
}
#pageButtons, .prvnxtButtons {
    float: left;
    height: 30px;
}
.prvnxtButtons, #previousButton, #nextButton {
    width: 100px;
    height: 25px;
}
.numberButton {
    width: 40px;
    height: 25px;
    //float: left;
}
.pages {
    margin: 5px;
    overflow: hidden;
    //position: relative;
    //left: 300px;
}
ul {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: sandybrown;
}
#regi {
    //float: right;
}